@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
.text-center{
    text-align: center;
}

.container{
    text-align: center;   
}

.btn{
    padding: 20px;
    width: 60px;
    margin: 0.2rem 0;
    border: solid black;
    border-radius: 5px;
    cursor: pointer;
}

.row input{
    margin: 0;
    width: 195px;
    padding: 12px 28px;
    border: 2px solid black;
    border-radius: 5px;
}

.btn:hover,
button:active{
    background-color: rgba(255,255,255, 0.5);
}